<!-- HEAD DINAMICO -->
<%- include('partials/head') %>

    <body>

        <!-- HEADER DINAMICO -->
        <%- include('partials/header') %>

            <main>

                <section class="green-container">
                    <h2 class="titulo">Tu carrito de compras</h2>

                    <div class="white-container">
                        <div class="basket">
                            <div class="basket-module">
                                <label for="promo-code">Ingresa un codigo de descuento:</label>
                                <input id="promo-code" type="text" name="promo-code" maxlength="5"
                                    class="promo-code-field">
                                <button class="promo-code-cta">Aplicar</button>
                            </div>
                            <div class="basket-labels">
                                <ul>
                                    <li class="item item-heading">Item</li>
                                    <li class="price">Precio</li>
                                    <li class="quantity">Cantidad</li>
                                    <li class="subtotal">Subtotal</li>
                                </ul>
                            </div>
                            <% for(let i=0; i<items.length; i++) {%>
                            <div class="basket-product">
                                <div class="item">
                                    <div class="product-image">
                                        <img src="./images/products/<%= items[i].product.mainImage %>" alt="Placholder Image 2"
                                            class="product-frame">
                                    </div>
                                    <div class="product-details">
                                        <h1><strong><span class="item-quantity">value=<%= items[i].quantity %></span> x Eliza J</strong> Lace Sleeve
                                            Cuff Dress</h1>
                                        <p><strong><a href="/products/<%=items[i].product.id%>"><%= items[i].product.name %></a></strong></p>
                                        <p><%= items[i].product.discount_id !=null ? items[i].product.discount.percentage + "% OFF": null  %></p>
                                    </div>
                                </div>
                                <div class="price"><%= items[i].product.price%></div>
                                <div class="quantity">
                                    <input type="number" value=<%= items[i].quantity %> min="1" class="quantity-field">
                                </div>
                                <div class="subtotal"><%= items[i].product.price * items[i].quantity%></div>
                                <div class="remove">
                                    <button id="remove-btn" onclick="removeItem(this)">Eliminar</button>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <aside>
                            <div class="summary">
                                <div class="summary-total-items"><span class="total-items"></span> Items en tu Carrito
                                </div>
                                <div class="summary-subtotal">
                                    <div class="subtotal-title">Subtotal</div>
                                    <div class="subtotal-value final-value" id="basket-subtotal"><%= total %></div>
                                    <div class="summary-promo hide">
                                        <div class="promo-title">Descuento</div>
                                        <div class="promo-value final-value" id="basket-promo"></div>
                                    </div>
                                </div>
                                <div class="summary-delivery">
                                    <select name="delivery-collection" class="summary-delivery-selection">
                                        <option value="" selected="selected">Seleccione:</option>
                                        <option value="">Retiro en sucursal</option>
                                        <option value="">Envio a domicilio</option>
                                        <option value="">Envio a Correo</option>
                                        <option value="">Acordar con el vendedor</option>
                                    </select>
                                </div>
                                <div class="summary-total">
                                    <div class="total-title">Total</div>
                                    <div class="total-value final-value" id="basket-total"><%= total %></div>
                                </div>
                                <div class="summary-checkout">
                                    <button class="checkout-cta">Continuar Compra</button>
                                </div>
                            </div>
                        </aside>
                    </div>


                </section>

            </main>

            <!-- FOOTER DINAMICO -->
            <%- include('partials/footer') %>
                <script src="/js/cartFunctions.js"></script>
    </body>

    </html>