<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
    <!-- HEADER DINAMICO -->

    <body>
        <%-include('partials/header') %>

            <section class="detalle-producto">

                <div class="imagen-producto">
                    <img src="/images/products/<%= product.mainImage %>" alt="product image" class="product-detail-img">

                </div>

                <div class="info-producto">
                    <h2><%=product.category.name %></h2>
                    <h1 class="product-title"><%= product.name %></h1>
                    <h3><%=product.price %></h3>
                    <p><%=product.description %></p>
                    

                    
                    <button class="add add-detail"> Agregar al carrito </button>

                        <div class="counter">
                            <button id="down">-</button>
                            <input type="number" id="cantidad" min="1" max="10" value="1">
                            <button id="up">+</button>
                        </div>

                </div>

                <div class="detail-row2">
                    <a href="/products/<%= product.id %>/edit"  class="action-button edit">Editar</a>
                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">Eliminar</button>
                    </form>
                </div>

                <% if(product.material) { %>
                    <div class="detail-row">
                        <div>Material:</div>
                        <div>
                            <%=product.kind.name %>
                        </div>
                    </div>
                    <% } %>
                    <% if(product.size) { %>
                    <div class="detail-row">
                        <div>Tamaño:</div>
                        <div>
                            <%=product.size %>
                        </div>
                    </div>
                    <% } %>
                    <% if(productColor.length>0) { %>
                    <div class="detail-row2">
                        <div>Color: </div>
                        <ul>
                            <% productColor.forEach((productColor) => { %>
                            <% const color = colors.find((color) => color.id === productColor.colorId); %>
                            <% if (color) { %>
                                <li><%= color.name %></li>
                            <% } %>
                            <% }) %>
                        </ul>
                    </div>
                    <% } %>
                    <% if(product.flavor) { %>
                        <div>Sabor:</div>
                        <div>
                            <%=product.flavor %>
                        </div>
                        <% } %>

                    <% if(product.fragrance) { %>
                        <div>Fragancia:</div>
                        <div>
                            <%=product.fragrance %>
                        </div>
                        <% } %>

                    <div class="detail-row">
                        <div>Apto para:</div>
                        <div>
                            <%=product.pet %>
                        </div>
                    </div>

            </section>
                    
                    <form action="/cart/add-product/<%=product.id%>" class= "register-form" method="POST">
                        <div>
                        <input type="number" name="quantity" value="1" min="1" max="10">
                    </div>
                        <button type="submit" class="add add-detail"> Agregar al carrito </button>
                    </form>
                </div>

                    <div class="detail-row2">
                        <a href="/products/<%= product.id %>/edit"  class="action-button edit">Editar</a>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                            <button type="submit" class="action-button delete">Eliminar</button>
                        </form>
                    </div>


                </div>

            <div class="banner" colspan="2">
                <img src="/images/banner.jpg" alt="">
            </div>

            <%-include('partials/footer') %>

    <script src="/js/productQuantityCounter.js"></script>
    </body>

    </html>
