<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
<!-- HEADER DINAMICO -->

<body>
        <%-include('partials/header') %>
    <main>
        <h3>Inicio > Productos > Collar</h3>
        <h2 class="title">Collar</h2>
        <div class="container-product">
            <article>

                <!--        Imagenes del producto            -->

                <section class="container-foto-productos">

                    <div class="foto-principal-producto">
                        <img src="/images/<%= product.image %>" alt="collar">
                    </div>

                    <div class="fotos-abajo">
                        <img src="/images/<%= product.image %>" alt="">
                        <img src="/images/<%= product.image %>" alt="">
                        <img src="/images/<%= product.image %>" alt="">
                    </div>
                </section>


                <!--        Info del producto            -->
                <!-- hacer la formula para el precio final si es que hay descuento -->

                <section class="info-productos-container">
                    <div class="main-article">
                        <p class="precio">$<%= product.price %></p>
                        <p class="cuotas">en<%=  %> $</p>
                        <p class="metodos-pagos"></p>
                        <!-- cambiarlo a un hipervinculo que saque una solapa con las opciones que hay -->
                        <p class="envio"><i class="fa-solid fa-truck icon-truck"></i> Envio gratis a todo el pais</p>
                    </div>
                </section>


                <!--        Botones de comprar y de carrito             -->

                    <!-- cambiarlo por una opcion que te mueste una lista de numeros del 1 al 10 asi el usuario no tiene que escribir, solo tiene que seleccionar -->
                <form class="cantidad-compra" action="">
                    <label  for="cantidad">Comprar:</label>
                    <input type="number" id="cantidad" min="1" max="10" name="cantidad" value="1"> 
                </form>

            <section class="botones-container">
                <div class="boton-comprar">
                    <button type="submit">
                        <p>Comprar ahora</p>
                    </button>
                </div>

                <div class="boton-agregar-carrito">
                    <button type="submit">
                        <p>Agregar al carrito</p>
                    </button>
                </div>
            </section>

                <!-- ver como acomodar achicar el texto y el contenedor dejarlo tal cual -->
            </article>
        </div>
        <h2 class="title-productos-relacionados">Productos relacionados</h2>
        <section class="productos-relacionados">
            <article class="container-productos-relacionados">
                <div id="product-relacionado-1">
                    <img src="/images/<%= product.image %>" alt="collar">
                    <h4><%= product.product %></h4>
                    <div class="info-productos-relacionados">
                        <i class="fas fa-truck"></i>
                        <i class="fa-regular fa-heart"></i>
                        <p class="precio-section-relacionados">$<%= product.price %></p>
                    </div>
                </div>

                <div id="product-relacionado-2">
                    <img src="/images/<%= product.image %>" alt="collar">
                    <h4><%= product.product %></h4>
                    <div class="info-productos-relacionados">
                        <i class="fas fa-truck"></i>
                        <i class="fa-regular fa-heart"></i>
                        <p class="precio-section-relacionados">$<%= product.price %></p>
                    </div>
                </div>

                <div id="product-relacionado-3">
                    <img src="/images/<%= product.image %>" alt="collar">
                    <h4><%= product.product %></h4>
                    <div class="info-productos-relacionados">
                        <i class="fas fa-truck"></i>
                        <i class="fa-regular fa-heart"></i>
                        <p class="precio-section-relacionados">$<%= product.price %></p>
                    </div>
                </div>



            </article>
        </section>


    </main>

    <%-include('partials/footer') %>
</body>

</html>