<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
    <!-- HEADER DINAMICO -->

    <body>
        <%-include('partials/header') %>

            <main class="container">
                <section class="user-container">
                    <div class="top-buttons">
                        <a href="<%= user.id %>/edit" class="action-button edit">Editar</a>
                        <form action="/user/<%= user.id %>?_method=DELETE" method="POST"
                            style="display: inline-flex">
                            
                            <button type="submit" class="action-button delete">Eliminar</button>
                        </form>
                    </div>

                    <div class="left-column">
                        <% if(user.admin) { %>
                        <h2>Admin</h2>
                            <% } else { %>
                        <h2>Usuario</h2>  
                        <% } %>    
                        <figure class="user_image">
                            <img class="user-avatar" src="<%= user.avatar %>" alt="imagen de usuario" width=100px>
                        </figure>

                        <div class="user-info">
                            <h3>Nombre: <%= user.firstName %></h3>
                            <h3>Apellido: <%= user.lastName %></h3>
                            <h3>Email: <%= user.email %></h3>
                        </div>

                    </div>

                    <div class="user-content">
                        <h1>
                            No hay compras recientes
                        </h1>
                    </div>
                </section>
            </main>
            <%-include('partials/footer') %>
    </body>

    </html>