<!-- HEAD DINAMICO -->
<%-include('partials/head') %>
    <!-- HEADER DINAMICO -->

    <body>
        <%-include('partials/header') %>

            <main class="users-container">
                <h1>Administradores</h1>
                <div class="admin-row">
                    <% admin.forEach((user) => { %>
                    <div class="card-container">
                        <img class="round" src="<%= user.avatar %>" alt="user" />
                        <h3><%= user.firstName %></h3>
                        <div class="buttons">
                            <button class="primary">
                                Ver
                            </button>
                            <button class="primary ghost">
                                Eliminar
                            </button>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <h1>Usuarios</h1>
                <div class="users-row">
                    <% costumer.forEach((user) => { %>
                    <div class="card-container">
                        <img class="round" src="<%= user.avatar %>" alt="user" />
                        <h3><%= user.firstName %></h3>
                        <div class="buttons">
                            <button class="primary">
                                Ver
                            </button>
                            <button class="primary ghost">
                                Eliminar
                            </button>
                        </div>
                    </div>
                    <% }) %>
                </div>



            </main>
            <%-include('partials/footer') %>
    </body>

    </html>